{% extends "bill/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Welcome to the World of Health</h1>
            <p>The Site is strictly meant for the Administrator of <b>Nidha Pharma</b> to carry out daily activities like <b>Invoicing</b> and <b>Stock Management</b>. <em><b>Sign up</em></b> If you are one!!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
